<h2>{{title}}</h2>
<div class="row">
    <button class="btn btn-lg btn-info" [class.active]="filterBy == 'all'" (click)="filterBy = 'all'">All</button>&nbsp;
    <button class="btn btn-lg btn-info" [class.active]="filterBy == 'Caveirac_2018'" (click)="filterBy = 'Caveyrac_2018'">Caveirac</button>&nbsp;
    <button class="btn btn-lg btn-info" [class.active]="filterBy == 'camping'" (click)="filterBy = 'camping'">Camping</button>&nbsp;
    <button class="btn btn-lg btn-info" [class.active]="filterBy== 'library'" (click)="filterBy = 'library'">Library</button>

    <ul id="thumbnailist">
        <li *ngFor = "let image of (visibleImages | imageFilter:filterBy)">
            <a [routerLink] = "['/images', image.id]">
            <img src="{{image.url}}" class="tn" width="200" height="160">
        </a>
        </li>
    </ul>
</div>